<div class="mainContainer">
  <input type="checkbox" class="switchMenu" id="menuToggle">
  <div class="navBar">
    <label class="labelCheckbox" for="menuToggle">⬅</label>
    <h3 class="titleList">List</h3>
    <ul *ngFor="let list of listArray">
      <button class="cta">
        <span (click)="updateListNameLocal(list.name)">{{list.name}}</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button>
    </ul>
    <a (click)="seePopUpAddList()" class="addListButton">+</a>
    <div *ngIf="seeAddList">
      <app-pop-up-add-list [item]="seeAddList" (newItemEvent)="updateChildAddList()"/>
    </div>
    <h3 class="titleTag">Tag</h3>
    <ul *ngFor="let tag of tagArray">
      <button class="cta">
        <span (click)="deleteTag(tag.name)">{{tag.name}}</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
        <img (click)="deleteTag(tag.name)" style=" mix-blend-mode: difference; height: 15px; cursor: pointer;" src="assets/imageTrash.png" alt="image trash">
      </button>
    </ul>
    <a (click)="seePopUpAddTag()" class="addTagButton">+</a>
    <div *ngIf="seeAddTag">
      <app-pop-up-add-tag [item]="seeAddTag" (newItemEvent)="updateChildAddTag()"/>
    </div>
    <br>
    <a (click)="logout()" class="logout">logout</a>
  </div>
  <div class="main">
    <h1 class="listName">{{listName}}<img (click)="deleteList(listName)" class="imgTrashH1" src="assets/imageTrash.png" alt="image trash"></h1>
    <div class="bodyMain">
      <div class="newTask">
        <div *ngIf="taskNotCompletedArray.length === 0" style="text-align: center">
          Non ci sono task completati.
        </div>
        <div *ngFor="let taskNotCompleted of taskNotCompletedArray" style="margin-bottom: 20px">
          <input type="checkbox" class="checkboxTask" (click)="markTask(taskNotCompleted.id)">
          <a (click)="toggleDetails(taskNotCompleted, taskNotCompleted.id)" style="cursor: pointer">{{taskNotCompleted.name}}</a>
          <img (click)="deleteTask(taskNotCompleted.id)" class="imgTrash" src="assets/imageTrash.png" alt="image trash">
          <div *ngIf="showDetails && id == taskNotCompleted.id" class="dettagli">
            <a style="margin-left: 100px">Descrizione: {{ taskNotCompleted.description }}</a>
            <br>
            <a style="margin-left: 100px">Tag: {{ getNameTagById(taskNotCompleted.idTag) }}</a>
          </div>
        </div>
        <br>
        <a (click)="seePopUpAddTask()" class="addTaskButton" style="margin-left: 40%; cursor: pointer;">+ Add a new task</a>
        <div *ngIf="seeAddTask">
          <app-pop-up-add-task [item]="seeAddTask" (newItemEvent)="updateChildAddTask()"/>
        </div>
      </div>
      <div class="taskCompleted">
        <div *ngIf="taskCompletedArray.length === 0" style="text-align: center">
          Non ci sono task completati.
        </div>
        <div *ngFor="let taskCompleted of taskCompletedArray" style="margin-bottom: 20px">
          <input type="checkbox" class="checkboxTask" checked (click)="unmarkTask(taskCompleted.id)">
          <a (click)="toggleDetails(taskCompleted, taskCompleted.id)" class="nameTask">{{taskCompleted.name}}</a>
          <img (click)="deleteTask(taskCompleted.id)" class="imgTrash" src="assets/imageTrash.png" alt="image trash">
          <div *ngIf="showDetails && id == taskCompleted.id" class="dettagli">
            <a style="margin-left: 100px">Descrizione: {{ taskCompleted.description }}</a>
            <br>
            <a style="margin-left: 100px">Tag: {{ getNameTagById(taskCompleted.idTag) }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
