<div class="mainContainer">
  <input type="checkbox" class="switchMenu" id="menuToggle">
  <div class="navBar">
    <label class="labelCheckbox" for="menuToggle">⬅</label>
    <h3 class="titleList">List</h3>
    <ul>
      <li>lavoto</li>
      <li>casa</li>
      <li>scuola</li>
    </ul>
    <h3 class="titleTag">Tag</h3>
<!--    <ul>-->
<!--      tag-->
<!--      <li>lavoto</li>-->
<!--      <li>casa</li>-->
<!--      <li>scuola</li>-->
<!--    </ul>-->
    <a>logout</a>
  </div>
  <div class="main">
    <!-- Contenuto principale -->
  </div>
</div>
