<div class="containerWelcome">
  <div class="left">
    <div class="imageWelcome">
      <img src="./assets/Screenshot%202024-05-18%20233742.png" alt="imageWelcome" class="image">
    </div>
  </div>
  <div class="middle"></div>
  <div class="right">
    <div class="textWelcome">
      <h1>Track your productivity<br> anywhere</h1>
    </div>
    <a class="fancy" (click)="navigateToAuthentication()">
      <span class="top-key"></span>
      <span class="text">Start now</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </a>
  </div>
</div>
